apiVersion: apps/v1
kind: Deployment
metadata:
  name: portfolio-blue
spec:
  replicas: 2
  selector:
    matchLabels:
      app: portfolio
      version: blue
  template:
    metadata:
      labels:
        app: portfolio
        version: blue
    spec:
      containers:
        - name: portfolio
          image: portfolio:v1
          ports:
            - containerPort: 80
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 15
            periodSeconds: 10

