apiVersion: apps/v1
kind: Deployment
metadata:
  name: portfolio-green
spec:
  replicas: 2
  selector:
    matchLabels:
      app: portfolio
      version: green
  template:
    metadata:
      labels:
        app: portfolio
        version: green
    spec:
      containers:
        - name: portfolio
          image: portfolio:v2
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80

