apiVersion: v1
kind: Service
metadata:
  name: portfolio-service
spec:
  type: NodePort
  selector:
    app: portfolio
    version: green   # switched during deployment
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30007
